body {
	background-image:		url('../imgs/background.png');
}

.container {
	max-width:				750px;
}

#main {
	margin-top:				15%;
}

#result {
	margin-top:				5%;
	text-align: 			center;
}

#footer {
	margin-top:				5%;
	text-align: 			center;
}
