body {
  background-image: url('../imgs/background.png');
}

.container {
  max-width: 750px;
}

#main {
  margin-top: 15%;
}

#main .row {
  margin-bottom: 3%;
}

#result {
  text-align: center;
}

#footer {
  text-align: center;
}

.nodisplay {
  display: none !important;
}

input[type="number"] {
  width: 6em;
}